body{
  background-color: #282c34;
  font-family: 'Source Code Pro', monospace;
}
.App {
  text-align: center;
 
}

.App-logo {
  height: 40vmin;
  margin-top: 20px; /* Ajusta el margen superior según sea necesario */
  pointer-events: none;
}

