#proyecto1, #proyecto2 {
  margin-top: 100px; 
  background-color: #1E171A;
  padding: 55px;
  margin: 55px;
  border-radius: 15px;
  border-color: #ec0c0c;
  -webkit-animation: slide-in-fwd-center 2s cubic-bezier(.25, .46, .45, .94) both;
  animation: slide-in-fwd-center 2s cubic-bezier(.25, .46, .45, .94) both;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  padding: 5px; 
  margin: 5px; 
  max-width: 100px; 
  max-height: 75px; 
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  width: 100px; 
  margin-top: 10px;
}

.navigation-buttons button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
}

.navigation-buttons button:first-child {
  background-color: #333;
}

.proyecto img {
  max-width: 100%;
  max-height: 100%;
}

h1 {
  color: #6BFF88;
  font-size: 20px; 
}

.desc {
  color: #6BFF88;
  font-size: 16px; 
}

p.desc {
  margin-top: 10px; 
}

